*{
  font-family: "Goorm Sans", sans-serif;
  padding: 2px;

}

.App {
  align-items: center;
  width: 100%;
  min-height: 100vh;

}

header{
  background-color: #d5bdaf;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  display: block;
}

main{
  background-color: #f5ebe0;
  width: 100%;

  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 80vh;
}

footer{
  background-color: #d6ccc2;
  width: 100%;

  text-align: center;
}